// sweetalert2 start
$swal2-error: $red;
$swal2-warning: $yellow;
$swal2-info: $blue;
// $swal2-question: #87adbd;
// sweetalert2 end

// toastmejs start
$font-size: 0.9rem;
$success: $green;
$danger: $red;
$warning: $yellow;
$info: $blue;
$question: $primary;
// toastmejs end

// react-datepicker start
$datepicker__border-color: $input-border-color;
$datepicker__selected-color: $primary;
$datepicker__border-radius: $input-border-radius-sm;
// react-datepicker end
